<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Charts.Core" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.CodeParser" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Dashboard.Core" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Data" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Data.Desktop" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.DataAccess" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.DataAccess.UI" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.DataVisualization.Core" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Diagram.Core" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Drawing" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.EasyTest" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.AuditTrail.Xpo" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Chart" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Chart.Win" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.CloneObject.Xpo" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.ConditionalAppearance" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Core.All" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Dashboards" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Dashboards.Win" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.EasyTest.WinAdapter" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.FileAttachment.Win" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.HtmlPropertyEditor.Win" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Kpi" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Notifications" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Notifications.Win" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Objects" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Office" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Office.Win" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.PivotChart" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.PivotChart.Win" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.PivotGrid" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.PivotGrid.Win" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.ReportsV2" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.ReportsV2.Win" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Scheduler" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Scheduler.Win" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.ScriptRecorder" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.ScriptRecorder.Win" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Security" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Security.Xpo" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.StateMachine" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.TreeListEditors" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.TreeListEditors.Win" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Validation" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Validation.Win" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.ViewVariantsModule" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Win" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Workflow" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Workflow.Win" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Xpo" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Gauges.Core" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Images" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Map.Core" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Office.Core" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Pdf.Core" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Pdf.Drawing" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Persistent.Base" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Persistent.BaseImpl.Xpo" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.PivotGrid.Core" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Printing.Core" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Reporting.Core" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.RichEdit.Core" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.RichEdit.Export" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Scheduler.Core" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Scheduler.CoreDesktop" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Sparkline.Core" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Spreadsheet.Core" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.TreeMap" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.TreeMap.Core" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Utils" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Utils.UI" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win.BonusSkins" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win.Charts" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win.Dashboard" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win.Diagram" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win.Gauges" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win.Grid" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win.Map" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win.Navigation" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win.PivotGrid" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win.Printing" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win.Reporting" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win.RichEdit" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win.Scheduler" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win.Spreadsheet" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win.TreeList" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win.TreeMap" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Win.VerticalGrid" version="22.1.6" targetFramework="net452" />
  <package id="DevExpress.Xpo" version="22.1.6" targetFramework="net452" />
</packages>