<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="DevExpress" value="https://nuget.devexpress.com/7vMBMm1AgcllBS7m8ql4tfgXF5p6kfkXvLeLAINDdf8saXAqJv/api" />
		<add key="general" value="https://pkgs.dev.azure.com/vsoft1/_packaging/general/nuget/v3/index.json" />
	</packageSources>
</configuration>